/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*共通　*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.main {
	padding: 0 25px;
	padding-top: 25px;
	font-weight: bold;
}

/*top*/
.top-body {
	padding-left: 50px;
	font-size: 13px;
	line-height: 40px;
}
.start {
	padding-left: 50px;
	color: black;
}


/*index*/
.table {
	margin: 20px 0;
	margin-left: 50px;
	font-size: 13px;
	line-height: 200%;
}

.index-form {
	margin-left: 25px;
	line-height: 200%;
}

/*show*/
.show-table {
	text-align: left;
	line-height: 300%;
	margin: 20px 0;
	margin-left: 50px;
	font-size: 13px;
}
.show-link {
	margin-left: 50px;
	font-size: 13px;
}
/*edit*/
.edit {
	margin: 30px;
	line-height: 200%;
	font-size: 13px;
}

